body {
    background: #fff4e6;
    text-align: left;
    padding: 0 25px;
    font-family: arial, sans-serif;
    z-index: 1;
}

button {
    background-color: #bdaeaee;
    color: #5e5656;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 50%;
    margin: auto auto 20px;
    padding: 5px;
    text-align: center;
    clear: both;
    float: center;
}

a {
    text-decoration: none;
    color: #3c2f2f;
    font-weight: bold;
    font-style:

}

#main {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    float: left;
    background-color: #ebf4f6;
    /*width: 40%;*/
/*    margin: auto;
    text-align: center;
    background: white;*/
    padding: 20px 20px;
/*    border: solid #ddd;
    border-width: 0 1px 1px 1px;*/
}

#chats {
    width: 1000px;
    float: right;
    text-align: center;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;

}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

input[type=textarea] {
    margin-bottom: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    min-height: 40px;
    text-align: left;
    vertical-align: text-top;*/
}

.overlay {
    display: none;
    position: fixed;
    top: 65%;
    left: 17.5%;
    width: 400px;
    width: 300px;
    margin: -200px -150px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}
.select {
    
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}
.post {
    background-color: #fff4e6;
    border-radius: 10px;
    margin: 10px auto;
    width: 40%;
}
.post-body {
    border-top: 2px black solid;

}
.post-header {
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    font-family:'Open Sans', sans-serif;;
}
.post-footer {
    background-color: darkgray;
}
#roomSelect {
    margin-top: 20px;
}